/* INICIO FOOTER */


footer {
    background-color: nth($color, 3);
}

.contacto {
    font-family: $fuente1;
    color: black;
    margin-bottom: 1rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-align: map-get($divisor, text-align-divisor);
    margin-bottom: 10px;
    font-weight: map-get($divisor, font-style-divisor);
    text-decoration: underline;
}
.table {
    width: 75%;
}

.btn-ig {
    background-color: rgb(225,48,108);
}


.container-redes {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

/* FIN FOOTER */